# 失败是否要重试 1-是 0-否
RETRY=1

# 日志登记 info、warn、error
LOG_LEVEL=info
# 默认不配置为开启控制台日志 0-关闭 1-开启
LOG_CONSOLE=1

# 【可选】目前没有站点用到此字段，可以不配置
rapid_api_key=xxxxxxxxxxxxxxx

# 【可选】如果需要使用cf workers可以配置一下，直接把你的workers链接填入即可
REQ_PROXY=https://xxxxxx.dev

# sincode 专用配置 下面三个
# sincode的登录账户密码,多个用|分割，账号密码需要一一对应
SINCODE_EMAIL=xxxxxx@xxx.com|xxxxxx@xxx.com
SINCODE_PASSWORD=xxxxxxxx|xxxxxxxxxxxx
# sincode启用的线程数量，需要小于等于账号数量
SINCODE_POOL_SIZE=1

# auto站点, 失败自动重试最大次数
AUTO_RETRY_TIMES=5

# perplexity专用配置 下面三个
CHROME_PATH=google-chrome
# perplexity.ai 中注册登录之后在cookie中找到__Secure-next-auth.session-token
PERPLEXITY_TOKEN=xxxxx|xxxxxx
# perplexity启用的线程数量，需要小于等于token数量
PERPLEXITY_POOL_SIZE=1

# openai官方接口配置key，多个key会随机取，目前没有余额查询，请自行控制余额
OPENAI_KEY=sk-xxxx|sk-xxxx

# poef 需要用到的环境变量
# 如果需要自动注册这个必须要 https://rapidapi.com/mrsonj/api/temp-gmail/pricing
rapid_api_key=xxxxxxxxxxxxx
# poef的并发数目
POEF_POOL_SIZE=
# poef 如果你有老账号，在此填入pb，会自动应用到池子中，池子空了会自动注册
POEF_PB=xxx|xxx